.products-section {
    .products-title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 20px;
        &::after {
            content: " ";
            width: 95px;
            height: 5px;
            display: block;
            background-image: url('../img/decoration-line.png');
            margin: 30px auto 0;
        }
    }
    p {
        color: #999;
        text-align: center;
        margin-bottom: 15px;

    }
    .collections-holder {
        a {
            font-size: 26px;
            text-transform: uppercase;
            display: block;
            color: #fff;
            margin-bottom: 15px;
        }
        img {
            opacity: .8;
        }
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }
    }
    .frame {
        &::after, &::before {
            width: 70px;
            height: 40px;
            border-width: 2px;
        }
    }

    .products-categories {
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-size: 14px;
            text-transform: uppercase;
            padding-top: 10px;
            display: block;
            border-top: 2px solid transparent;
            &:hover {
                border-top-color: $nav-active;
            }
        }
        &:active {
            border-top-color: $nav-active;
            color: $link-hover;
        }
    }
}